[user]
	email = {{ mailaddress }}
	name = {{ git_name }}
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[push]
	default = simple
[diff]
	tool = meld
[pull]
	ff = only
[core]
    excludesfile = {{ home_dir }}/.gitignore_global
[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
