set laststatus=2
set number

set tabstop=4
set autoindent
set expandtab
set shiftwidth=4

set foldcolumn=3

"exclude Japanese spell checking
set spelllang+=cjk

"showing file name
set statusline=%<%F

"showing file format
set statusline+=[%{&fileformat}]

"showing char code
set statusline+=[%{has('multi_byte')&&\&fileencoding!=''?&fileencoding:&encoding}]

set statusline+=%P
